* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}
.main-container {
    display: flex;
    justify-content: center;
}

.register {
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.advert {
    display: flex;
    flex-direction: column;
}

.browser-question {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

input[type="email"],
input[type="password"],
.browser-question {
    width: 100%;
    margin: 1em 0;
}


.submit-button {
    display: block;
    margin-top: 2em;
    width: 100%;
}






