@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
} 

html, body {
    padding: 0;
    margin: 0;
}

.register {
    margin-top: 2em;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.field-container  {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    justify-content: start;
    margin: 1em 0;
}
.field-label {
    margin: .25em 0;
    padding: 0;
}
.input-forms,
.submit-button {
    width: 100%;
    padding: 1em;
    border-radius: 1em; 

}

/* select */
#browser { 
    -o-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: em;
    border-radius: 1em;
    cursor: pointer;
 }

textarea {
    resize: none;
}

.submit-button {
    margin-top: 3em;
}


@media (min-width: 48rem) {
  
}






