@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

.register {
    margin-top: 2em;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register label,
.terms-form,
.referred p {
    margin: 1em;
}
.referred div,
.terms-input {
    margin-left: 1em;
}
.referred label {
    margin: 0;
}
.input-forms,
.submit-button {
    width: 100%;
    padding: 1em;
    border-radius: 1em; 

}

select {
    -o-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: .5em;
    border-radius: 1em;
    
 }

.input-forms, 
.referred,
.terms-form{
    margin-top: .5em;
    margin-bottom: 1.5em;
}


textarea {
    resize: none;
}

.submit-button {
    display: block;
    padding: 1em;
    margin-top: 3em;
}


@media (min-width: 48rem) {
  
}






