html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 1em;
}


.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.nav-links a, 
.alert-info a {
    display: inline-block;
    padding: .5em;
}
.header-img img {
    width: 100%;
}
.sub-section p {
    font-style: italic;
}
footer {
    display: flex;
    align-items: center;
}
footer p {
    flex-grow: 1;
}

#social-media-links {
    margin-left: auto;
}

#social-media-links a {
    padding: .5em;
}
@media screen and (max-width: 576px) {
        .alert-info {
            background: #CCFFFF;
            text-align: center;
            border: 1px solid #ccc;
        }
        h1 {
            text-align: center;
        }
        .nav-links li {
            background: #ccc;
            margin: .5em 0;
            text-align: center;
        }
}
@media screen and (min-width: 577px) {
        .hidden-on-desktop {
            display: none;
        }
        h1 {
            font-size: 2.8em;
            margin: 0;
            padding: .5em 0;
            position: absolute;
            top: 0;
        }

        .nav-links {
            flex-direction: row;
            justify-content: center;
        }
        .nav-links a {
            padding: 1.5em;
        }
        .nav-links li:nth-of-type(1) {
            margin-left: auto;
        }
        .main, .sub-section {
            float: left;
            margin-bottom: 8em;
        }
        .main {
            width: 60%;
        }
        .sub-section {
            width: 40%;
            padding-left: 4em;
        }
        footer {
            clear: left;
        }
   
}
 




